:root {
  --gradient: linear-gradient(135deg, #2ec2f0 0%, #0e7bcf 30%, #0e03a8 95%);
}

body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  margin: 0;
}

.right-box {
  width: 47vw;
}

.box {
  background: var(--gradient);
  padding: 1vh;
  border-radius: 1vh;
  margin-top: 5vh;
  display: inline-block;
  overflow: auto;
  margin-bottom: 2vh;
}

.box-content {
  background: black;
  padding: 2vh;
}

.name {
  text-align: left;
}

.navbar {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: black;
  height: 17vh;
}

.navbar-link {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 15px;
  font-weight: bold;
}

h1 {
  background: var(--gradient);
  text-align: center;
  padding: 2vh;
  display: inline-block;
  font-size: 30px;
}

h2 {
  color: #0e7bcf;
  margin: 0;
  padding-top: 2vh;
}

.full {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  padding-top: 0;
}

p {
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
  background-color: black;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 5vw;
  padding-right: 5vw;
  display: inline-block;
}

.links > a {
  text-align: center;
  background: var(--gradient);
  color: #0066cc;
  width: 7vh;
  height: 7vh;
  border-radius: 1vh;
  padding: 1vh;
  transition: transform 0.5s ease;
}

.links > a:hover {
  transform: scale(1.4);
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3vh;
}

.about-me-photos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 45px;
}

.pro-photo {
  width: 50vh;
  height: 54.475vh;
  overflow: hidden;
}

.pro-box {
  background: var(--gradient);
}

.logo {
  width: 7vh;
  height: 7vh;
  border-radius: 1vh;
  align-items: center;
}

.left-side,
.right-side {
  width: 50%;
  padding-top: 15vh;
}

.left-side {
  top: 0;
  position: sticky;
  align-self: flex-start;
}

.right-content {
  text-align: center;
  background-color: black;
}

ul {
  text-align: left;
}

.traveling-photo {
  width: 66.6vh;
  height: 39.82vh;
}

.berkeley {
  width: 18vw;
}

.usf {
  width: 18vw;
}

.skills-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
}

.projects-list {
  font-weight: bold;
  font-size: 20px;
}

@media (min-width: 1050px) {
  .small {
    display: none;
  }
}

@media (max-width: 1050px) {
  .full {
    flex-direction: column;
  }

  .left-side {
    position: static;
    width: 100%;
    padding-top: 10vh;
  }

  .right-side {
    width: 100%;
    padding-top: 0;
  }

  .right-box {
    width: 80vw;
  }

  .pro-photo {
    width: 50vw;
    height: 54.475vw;
  }

  .navbar > a {
    font-size: 16px;
    padding: 2.5vh 5vw;
  }

  .navbar > a > h1 {
    font-size: 20px;
  }

  .traveling-photo {
    width: 53.28vw;
    height: 31.86vw;
  }

  .links > a {
    width: 10vw;
    height: 10vw;
    padding: 1vw;
  }

  .logo {
    width: 10vw;
    height: 10vw;
  }

  .skills-list {
    flex-wrap: wrap;
  }

  .skill-box {
    flex-basis: 30%;
  }

  .navbar {
    height: 15vh;
    display: flex;
    justify-content: space-between;
  }

  .name .navbar-link {
    padding: 5vh 5vw;
  }

  .big {
    display: none;
  }

  .berkeley {
    width: 30vw;
  }

  .usf {
    width: 30vw;
  }

  .ng-logo {
    width: 30vw;
  }
}

.dropdown {
  overflow: hidden;
  padding: 5vh 5vw;
}

.dropdown button {
  font-size: 30px;
  border: solid grey;
  outline: none;
  color: white;
  padding: 7px 8px;
  background-color: inherit;
  font-family: inherit;
}

.dropdown-links {
  position: fixed;
  top: 15vh;
  left: 5vw;
  background-color: black;
  display: none;
  flex-direction: column;
  width: 90vw;
}

.flex {
  display: flex;
}

.space {
  justify-content: space-evenly;
}

.green {
  background-color: #00543c;
}

.no-margin {
  margin: 0;
}

.even-flex {
  flex: 1;
}